<h1 class="animated fadeIn fast">Sobre los Comic</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Delectus natus voluptatem quidem placeat? Provident quisquam neque doloremque, odio placeat quis in ipsum hic necessitatibus nostrum ab rem quidem natus quae? Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Voluptatem possimus tempore fugiat. Adipisci modi nulla exercitationem delectus saepe neque doloribus, praesentium non ipsam quaerat hic alias officiis atque porro omnis. Lorem ipsum dolor sit amet consectetur, adipisicing elit.
    Animi voluptas, numquam expedita labore dolorem eius vitae deserunt repellendus, ipsam unde dignissimos maxime corrupti at. Minus quos aspernatur omnis commodi eius.
</p>