<!-- *ngFor="let heroe of heroes; let i = index" -->
<div class="col animated fadeIn fast">
    <div class="card">
        <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
        <div class="card-body">
            <h5 class="card-title">{{heroe.nombre | uppercase}}</h5>
            <p class="card-text">{{ heroe.bio }}</p>
            <p class="card-text"> <small> {{ heroe.aparicion }} </small></p>
        </div>
        <div class="card-footer bg-transparent">
            <div class="d-grid gap-2">
                <button (click)="verHeroe()" x class="btn btn-outline-primary btn-block">
                        Ver mas...
                    </button>
            </div>
        </div>
    </div>
</div>